{{if .Flash.ErrorMsg}}
	<div class="ui negative message">
		<p>123</p>
	</div>
{{end}}
{{if .Flash.WarningMsg}}
	<div class="ui warning message">
		<p>123</p>
	</div>
{{end}}
{{if .Flash.SuccessMsg}}
	<div class="ui positive message">
		<p>123</p>
	</div>
{{end}}
{{if .Flash.InfoMsg}}
	<div class="ui info message">
		<p>123</p>
	</div>
{{end}}
