{{/*
<html>
<body>
	<div>
*/}}
	</div>
	<footer>
		<div class="ui container">
			<div class="ui left">
				© 2021 YamaIterativeE
			</div>
		</div>
	</footer>
</body>

<!-- Third-party libraries -->
<script src="js/libs/emojify-1.1.0.min.js"></script>
<script src="js/libs/clipboard-2.0.4.min.js"></script>

</html>
