{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="img/iterativeE-hero.png" />
			</div>
			<div class="hero">
				<h2>智能迭代研发平台</h2>
			</div>
		</div>
	</div>
    <div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 易安装
				</h1>
				<p class="large">
					您可以根据操作系统平台通过 <a target="_blank" rel="noopener noreferrer" href="www.baidu.com">二进制运行</a>。
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 跨平台
				</h1>
				<p class="large">
					任何 <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go 语言</a> 支持的平台都可以运行 IterativeE，包括 Windows、Mac、Linux 以及 ARM。挑一个您喜欢的就行！
				</p>
			</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 轻量级
				</h1>
				<p class="large">
					一个廉价的树莓派的配置足以满足 IterativeE 的最低系统硬件要求。最大程度上节省您的服务器资源！
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 开源化
				</h1>
				<p class="large">
					所有的代码都开源在 <a target="_blank" rel="noopener noreferrer" href="https://github.com/interpidtjuniversity/YamaIterativeE/">GitHub</a> 上，赶快加入我们来共同发展这个伟大的项目！还等什么？成为贡献者吧！
				</p>
			</div>
	</div>

</div>
{{template "base/footer" .}}


